<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Usuwanie użytkownika</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Formularz usunięcia</h1>
<form action="#" enctype="multipart/form-data" th:action="@{/deleteuser}" method="delete">

    <p>Name: <input type="text" name="username" /></p>
    <p class="<ZDEFINIOWANY STYL DLA OPISU BŁĘDU>" th:if="${#fields.hasErrors('username')}" />

    <p>
        <input type="submit" value="Submit" />
        <input type="reset" value="Reset" />
    </p>
</form>
</body>
</html>